################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/StoreAPI/.vs/StoreAPI/FileContentIndex/24967a00-54e0-4316-945a-6565ea2d5fc0.vsidx
*.vsidx
