################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/StoreAPI/.vs/StoreAPI/FileContentIndex/24967a00-54e0-4316-945a-6565ea2d5fc0.vsidx
*.vsidx
appsettings.json
appsettings.dev.json
*.env
*.json
*.yaml
/API/StoreAPI/.vs/StoreAPI/CopilotIndices/17.13.430.18484
/API/StoreAPI/obj/Debug/net8.0
/API/StoreAPI/.vs
.vs/
.bin/
obj/
bin/
