<div class="container">
    <h1>Customer Details</h1>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" >
        <label for="customerName">Customer Name :</label>
        <input type="text" id="customerName" formControlName="customerName" />
        <label for="phonenumber"> Phone number:</label>
        <input type="number" id="phonenumber" formControlName="phonenumber" />
        <label for="address"> Address:</label>
        <input type="address" id="address" formControlName="address" />
        <label for="totalamount">Total Amount:</label>
        <input type="number" id="totalamount" formControlName="totalamount" />
        <label for="amountpaid">Amount Paid:</label>
        <input type="number" id="amountpaid" formControlName="amountpaid" />
        @if(hasPaidGreater()){
          <p class="error-message">Amount paid should be less than total amount</p>
      }
        <label for="remainingamount">Remaining amount:</label>
        <input type="number" id="remainingamount" formControlName="remainingamount" [disabled]="true"/>
        <label for="purchaseDate">Purchase Date:</label>
        <input type="date" id="purchaseDate" formControlName="purchaseDate" />
        <label for="file">Upload Bill:</label>
        <input type="file" (change)="onFileSelected($event)" />

      <button type="submit" >Submit</button>
    </form>
</div>