<div class="min-h-screen flex items-center justify-center bg-[rgb(41,36,36)] p-4">
    <div class="w-full max-w-md bg-gray-900 text-white p-6 rounded-lg border-white shadow-xl shadow-white">
        <h2 class="text-[2rem] font-bold text-center mb-4">Reset Password</h2>

        <p class="text-center text-gray-400 text-sm mt-4">Don't have an account?
            <a routerLink="/signup" routerLinkActive="active" class="text-blue-400 hover:underline">Sign Up</a>
        </p>

        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
          <div class="mb-4">
                <label class="block text-gray-300 mb-1" for="userName">Mobile Number</label>
                <input type="text" id="userName" formControlName="userName" class="w-full p-2 rounded bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter your mobile number">
            </div>
         @if(!otpRecieved ){
            <div class="mb-4">
                <p class="text-red-700 text-[12px]">Enter your Mobile number to recieve OTP in your registered email</p>
            </div>
        }
        @else if(isOutputValue){
            <div class="mb-4">
                <p class="text-red-700 text-[12px]">{{outputValue}}</p>
            </div>
        }
        @else if(isVerificationCodeEnabled && !isPasswordRest) {
            <div class="mb-4">
                <p class="text-green-700 text-[12px]">{{outputValue}}</p>
            </div>
        }
         @if(isVerificationCodeEnabled)
         {
            <div class="mb-4">
                <div class="mb-4">
                    <label  class="block text-gray-300 mb-1" for="verificationCode">Verification Code</label>
                    <input type="text" id="verificationCode" formControlName="verificationCode" class="w-full p-2 rounded bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter your Verification Code">
                </div>
                <div class="mb-4">
                    <label  class="block text-gray-300 mb-1" for="newPassword">New Password</label>
                    <input type="password" id="newPassword" formControlName="newPassword" class="w-full p-2 rounded bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter your New Password">
                </div>
            </div>
        }
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white p-2 rounded transition">
                Reset Password
            </button>
         @if(isPasswordRest)
         {
            <div class="mb-4 flex flex-col items-center">
                <p class="text-green-700 text-[12px]">{{outputValue}}</p>
                <a routerLink="/login" routerLinkActive="active" class="text-blue-400 hover:underline hover:cursor-pointer">Login</a>
            </div>
            
        }
        </form>
    </div>
</div>