<div class="p-6 bg-gray-100 min-h-screen">
    <div class="max-w-6xl mx-auto bg-white p-6 shadow-lg rounded-xl">
  
      <!-- Summary Cards -->
      <div class="bg-blue-900 text-white py-6 px-4 rounded-lg shadow-lg">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 text-center">
          
          <!-- Total Inventories -->
          <div class="flex flex-col items-center">
            <div class="bg-yellow-400 p-3 rounded-full">
              <img src="assets/icons/inventory.png" class="w-8 h-8" alt="Inventory Icon">
            </div>
            <p class="text-2xl font-bold mt-2">{{this.totalAmount}}</p>
            <p class="text-sm">Total Amount</p>
          </div>
      
          <!-- Received -->
          <div class="flex flex-col items-center">
            <div class="bg-yellow-400 p-3 rounded-full">
              <img src="assets/icons/recieved.png" class="w-8 h-8" alt="Received Icon">
            </div>
            <p class="text-2xl font-bold mt-2 text-green-400">{{this.totalPaidAmount}}</p>
            <p class="text-sm">Money Received</p>
          </div>
      
          <!-- On Hand -->
          <div class="flex flex-col items-center">
            <div class="bg-yellow-400 p-3 rounded-full">
              <img src="assets/icons/onhand.png" class="w-8 h-8" alt="On Hand Icon">
            </div>
            <p class="text-2xl font-bold mt-2 text-red-500">{{this.totalDueAmount}}</p>
            <p class="text-sm">Total Due</p>
          </div>
      
          <!-- Shipped -->
          <div class="flex flex-col items-center">
            <div class="bg-yellow-400 p-3 rounded-full">
              <img src="assets/icons/people.png" class="w-8 h-8" alt="Shipped Icon">
            </div>
            <p class="text-2xl font-bold mt-2">{{totalCustomer}}</p>
            <p class="text-sm">Total Customers</p>
          </div>
      
        </div>
      </div>
      
      <!-- Charts -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Inventory Status</h3>
          <canvas id="inventoryChart"></canvas>
        </div>
  
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Shipment Status</h3>
          <canvas id="shipmentChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  